{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka | About{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/about-sass.css" />
{% endblock %}

{% block js %}
    <script src="/assets/js/about-skill-info-display.js"></script>
    <script src="/vendor/ekko-lightbox/dist/ekko-lightbox.js"></script>
{% endblock %}

{% block content %}
    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <div class="top-navbar-underimage"></div>
    <div class="about-panel-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 push-md-6">
                    <img class="about-portrait" src="/assets/img/profile-pics/about-portrait.png">
                    <img class="about-portrait-mobile" src="/assets/img/profile-pics/about-portrait-cropped.png">
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 offset-md-0 pull-md-6 intro-section">
                    <h1>About Me</h1>
                    <p>Before you ask, no, I'm not French.</p>
                    <p>
                        I'm a longtime Vancouverite, and currently in the final year of my
                        Bachelor of Applied Science degree in Software Engineering at the
                        University of British Columbia. I have yet to jump on the yoga bandwagon,
                        but I will say that I love this city (and its abundance of cheap sushi).
                    </p>
                    <p id="about-hashtag">#westcoastbestcoast</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-panel-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-0 random-facts-images">
                    <div class="random-img-container">
                        <a href="/assets/img/profile-pics/float-plane-ride.jpg" data-toggle="lightbox" data-gallery="greenhouse"
                           data-title="When you find out the plane you're flying in is over double your age">
                            <img id="float-plane-ride" src="/assets/img/profile-pics/float-plane-ride.jpg">
                        </a>
                        <a href="/assets/img/hiking.jpg" data-toggle="lightbox" data-gallery="greenhouse"
                           data-title="Exploring the mountains around Chiliwack">
                            <img src="../assets/img/hiking-preview.jpg">
                        </a>
                        <a href="/assets/img/kangaroo.jpg" data-toggle="lightbox" data-gallery="greenhouse"
                           data-title="The closest I'll ever get to Australia">
                            <img src="/assets/img/kangaroo-preview.jpg">
                        </a>
                        <a href="/assets/img/skiing.jpg" data-toggle="lightbox" data-gallery="greenhouse"
                           data-title="Cross country skiing with the family">
                            <img src="/assets/img/skiing-preview.jpeg">
                        </a>
                    </div>
                </div>
                <div class="col-10 offset-1 col-md-6 offset-md-0 random-facts-section">
                    <h2>True Story</h2>
                    <ul>
                        <li>I <img src="/assets/img/icons/heart.png"> Star Wars</li>
                        <li>I was born in Vancouver, British Columbia</li>
                        <li>I grew up on a vineyard (<a href = "http://www.littlestraw.bc.ca/about_us.html">this one</a> to be exact)</li>
                        <li>I spent three years studying French before I switched to Engineering (yes, I may be insane)</li>
                        <li>I played <a href="https://en.wikipedia.org/wiki/Ringette">ringette</a> from age 11 to 15</li>
                        <li>
                            I took auto-mechanics in high school and had originally switched to Applied Science
                            with the intent of becoming a mechanical engineer (before software won me over)
                        </li>
                        <li>Did I mention that I like Star Wars?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="about-panel-3">
        <div class="container">
            <h2 class="text-center">Skill Set</h2>
            <div class="row">
                <div class="col-lg-7 skill-section-non-mobile">
                    <div class="skill-set-section">
                        <div class="about-skill-badge" id="front-end-dev-badge">
                            <img class="square-badge" src="/assets/img/icons/web-dev-badge.png">
                            <footer class="text-center">Front End Development</footer>
                        </div>
                        <div class="about-skill-badge" id="databases-badge">
                            <img class="hex-badge" src="/assets/img/icons/db-badge.png">
                            <footer class="text-center">Databases</footer>
                        </div>
                        <div class="about-skill-badge" id="git-badge">
                            <img class="square-badge" id="git-badge-graphic" src="/assets/img/icons/git-badge.png">
                            <footer class="text-center">Source Control - Git</footer>
                        </div>
                        <div class="about-skill-badge" id="backend-dev-badge">
                            <img id="backend-dev-badge-graphic" class="hex-badge" src="/assets/img/icons/back-end-dev-badge.png">
                            <footer class="text-center">Back End Development</footer>
                        </div>
                        <div class="about-skill-badge" id="ui-design-badge">
                            <img id="ui-design-badge-graphic" class="square-badge" src="/assets/img/icons/ux-badge.png">
                            <footer class="text-center">UI Design</footer>
                        </div>
                        <div class="about-skill-badge" id="android-badge">
                            <img id="android-badge-graphic" class="hex-badge" src="/assets/img/icons/android-badge.png">
                            <footer class="text-center">Android Development</footer>
                        </div>
                        <div class="about-skill-badge" id="embedded-badge">
                            <img class="hex-badge" src="/assets/img/icons/embedded-badge.png">
                            <footer class="text-center">Embedded Systems</footer>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-0 col-md-10 offset-md-1">
                    <div id="skill-description-container">
                        <h4 id="skill-title">Front End Development</h4>
                        <p id="frontend-skill-description-text" class="skill-description-text active">
                            I first started learning about web development when I decided to build this website.
                            Since then, it's been a large part of both my school and co-op projects. As an artsy
                            person who loves design, I like front end work because I get to see my ideas realized
                            in a visual form (the print statements from my other types of projects just don't cut it).
                        </p>
                        <p id="databases-skill-description" class="skill-description-text inactive">
                            In my third year I completed a course in relational databases, where we learned how to design
                            databases to model common use cases. We covered everything from creating Entity-Relationship
                            diagrams to translating those same diagrams into a working database. Last term I also took a
                            course on building modern web apps, which covered the use of NoSQL databases like MongoDB.
                        </p>
                        <p id="git-skill-description" class="skill-description-text inactive">
                            Version control is life. I once worked on a group project for school where one of the team
                            members insisted on using Facebook to send code because he couldn't get Git working on his
                            laptop. NEVER AGAIN.
                        </p>
                        <p id="backend-skill-description" class="skill-description-text inactive">
                            If I had to choose between front end and back end development, I'd probably choose the
                            latter as I really enjoy tackling challenges that focus on higher level design and have
                            many moving parts. I'm currently taking a course on distributed systems, and it has definitely
                            convinced me to pursue a career in the server side development.
                        </p>
                        <p id="ui-skill-description" class="skill-description-text inactive">
                            I am currently taking a course in designing user interfaces, which covers the methods
                            used at the design, prototyping, and evaluation stages of the work process. In one of
                            my software engineering classes we also covered the basic elements of good UI design - one
                            that I'll never forget was KISS (keep it simple, stupid).
                        </p>
                        <p id="android-skill-description" class="skill-description-text inactive">
                            During a third year project course, we learned the basics of Android development, and then
                            had to create an app that used our DE2 boards to exchange data/messages. Following that,
                            I competed in a hackathon and helped build an Android app that used a Myo armband to detect
                            if the user had fallen.
                        </p>
                        <p id="embedded-skill-description" class="skill-description-text inactive">
                            During the second year of my program, there was a heavy focus on embedded systems and
                            firmware development. The majority of our labs involved designing state machines and
                            implementing them using VHDL or Assembly on our DE2 logic boards. We also had two term projects
                            that also required us to develop our own hardware; the first was a reflow oven
                            controller, and the second was a miniature motorized car that was controlled by the strength
                            of an electromagentic signal from a remote.
                        </p>
                        <h6 id="related-projects">Related Projects</h6>
                        <ul id="related-projects-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row skill-section-mobile">
                <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-10 offset-md-1">
                    <div class="skill-section-mobile-carousel">
                        <div class="about-skill-badge" id="front-end-dev-badge">
                            <img class="square-badge" src="/assets/img/icons/web-dev-badge.png">
                            <footer class="text-center">Front End Development</footer>
                        </div>
                        <div class="about-skill-badge" id="databases-badge">
                            <img class="hex-badge" src="/assets/img/icons/db-badge.png">
                            <footer class="text-center">Databases</footer>
                        </div>
                        <div class="about-skill-badge" id="git-badge">
                            <img class="square-badge" id="git-badge-graphic" src="/assets/img/icons/git-badge.png">
                            <footer class="text-center">Source Control - Git</footer>
                        </div>
                        <div class="about-skill-badge" id="backend-dev-badge">
                            <img id="backend-dev-badge-graphic" class="hex-badge" src="/assets/img/icons/back-end-dev-badge.png">
                            <footer class="text-center">Back End Development</footer>
                        </div>
                        <div class="about-skill-badge" id="ui-design-badge">
                            <img id="ui-design-badge-graphic" class="square-badge" src="/assets/img/icons/ux-badge.png">
                            <footer class="text-center">UI Design</footer>
                        </div>
                        <div class="about-skill-badge" id="android-badge">
                            <img id="android-badge-graphic" class="hex-badge" src="/assets/img/icons/android-badge.png">
                            <footer class="text-center">Android Development</footer>
                        </div>
                        <div class="about-skill-badge" id="embedded-badge">
                            <img class="hex-badge" src="/assets/img/icons/embedded-badge.png">
                            <footer class="text-center">Embedded Systems</footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-panel-4">
        <div class="container">
            <h2 class="text-center">My Life in 40 Words or Less</h2>
            <img id="lg-collage-img" src="/assets/img/lg-word-collage.png">
            <img id="md-collage-img" src="/assets/img/md-word-collage.png">
            <img id="sm-collage-img" src="/assets/img/sm-word-collage.png">
            <img id="xs-collage-img" src="/assets/img/xs-word-collage.png">
        </div>
    </div>

{% endblock %}