{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block content %}
    <div class="about-panel-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 intro-section">
                    <h1>About Me</h1>
                    <p>Before you ask, no, I'm not French.</p>
                    <p>
                        I'm a longtime Vancouverite, and currently in the third year of my
                        Bachelor of Applied Science degree in Software Engineering at the
                        University of British Columbia. I'm not afraid of a little rain,
                        and I'm so thankful to be studying in one of the most beautiful
                        cities in Canada.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="about-portrait" src="/assets/img/profile-pics/about-portrait.png">
                </div>
            </div>
        </div>
    </div>
    <div class="about-panel-2">
        <div class="container">
            <div class="renee-attribute-section">
                <h2>{Ren&eacutee} = </h2> <!-- show a logical "union" of diff things-->
                <img class="attribute-set-img" src="/assets/img/about-pics/student-set.png">
                <h2>&#8746</h2>
                <img class="attribute-set-img" src="/assets/img/about-pics/future-sw-eng-set.png">
                <h2>&#8746</h2>
                <img class="attribute-set-img" src="/assets/img/about-pics/artist-set.png">
                <h2>&#8746</h2>
                <img class="attribute-set-img" src="/assets/img/about-pics/nerd-set.png">
            </div>
        </div>
    </div>
    <div class="about-panel-3">
        <div class="container">
            <h2>Skill Set</h2>
            <div class="skill-set-section">
                <div class="about-skill-badge">
                    <img class="square-badge" src="/assets/img/icons/web-dev-badge.png">
                    <footer>Front End Development</footer>
                </div>
                <div class="about-skill-badge">
                    <img class="hex-badge" src="/assets/img/icons/db-badge.png">
                    <footer>Databases</footer>
                </div>
                <div class="about-skill-badge">
                    <img class="square-badge" src="/assets/img/icons/git-badge.png">
                    <footer>Source Control - Git</footer>
                </div>
                <div class="about-skill-badge">
                    <img class="hex-badge" src="/assets/img/icons/back-end-dev-badge.png">
                    <footer>Back End Development</footer>
                </div>
                <div class="about-skill-badge">
                    <img class="square-badge" src="/assets/img/icons/ux-badge.png">
                    <footer>UI Design</footer>
                </div>
                <div class="about-skill-badge">
                    <img class="hex-badge" src="/assets/img/icons/android-badge.png">
                    <footer>Android Development</footer>
                </div>
                <div class="about-skill-badge">
                    <img class="hex-badge" src="/assets/img/icons/embedded-badge.png">
                    <footer>Embedded Systems</footer>
                </div>
            </div>
        </div>
    </div>
    <div class="about-panel-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img id="float-plane-ride" src="/assets/img/profile-pics/float-plane-ride.jpg">
                    <footer>My "I'm totally not freaked out right now" face</footer>
                </div>
                <div class="col-md-6">
                    <h2>Random Tidbits</h2>
                    <ul>
                        <li>I am a HUGE Star Wars fan. Lord of the Rings is pretty high up on my list too.</li>
                        <li>I was born in Vancouver, British Columbia</li>
                        <li>I spent half my childhood living on a vineyard</li>
                        <li>My family owns a small winery in the Okanagan Valley (precursor to the last point)</li>
                        <li>I spent three years studying French before I switched to Engineering (I guess I like pain?)</li>
                        <li>I used to play hockey and ringette.</li>
                        <li>Did I mention that I like Star Wars and that I have </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}