{% extends 'project-page-layout.twig' %}

{% block title %}Ren&eacutee Slamka | Blog Board{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/blog-board.css"/>
{% endblock %}

{% block projectTitle %}
    Blog Board
{% endblock %}

{% block projectType %}
    Personal Project
{% endblock %}

{% block projectDate %}
    October 2015 - Present
{% endblock %}

{% block projectSummary %}
    A web app that allows users to create communal boards where they can share posts
    with other invited members.

{% endblock %}

{% block projectLinks %}
    <a href="https://github.com/ReneeSlamka/BlogBoard">Source code</a>
{% endblock %}

{% block projectLanguages%}
    <p>Java, JavaScript</p>
{% endblock %}
{% block projectTechStack%}
    <p>Spring, Bootstrap, Pebble, Tomcat, HSQLDB</p>
{% endblock %}

{% block projectImage %}
    <img id="blog-board-individual-img" src="/assets/img/project-page-pics/blog-board-logo.png">
{% endblock %}


{% block projectDescription %}
    Coming soon!
{% endblock %}

{% block projectSkills %}
    <div class="blog-board-skill-badge">
        <img class="square-badge" src="/assets/img/icons/web-dev-badge.png">
        <footer>Front End Development</footer>
    </div>
    <div class="blog-board-skill-badge">
        <img class="hex-badge" src="/assets/img/icons/db-badge.png">
        <footer>Databases</footer>
    </div>
    <div class="blog-board-skill-badge">
        <img class="square-badge" id="git-badge" src="/assets/img/icons/git-badge.png">
        <footer>Source Control - Git</footer>
    </div>
    <div class="blog-board-skill-badge">
        <img class="hex-badge" src="/assets/img/icons/back-end-dev-badge.png">
        <footer>Back End Development</footer>
    </div>
    <div class="blog-board-skill-badge">
        <img class="square-badge" src="/assets/img/icons/ux-badge.png">
        <footer>UI Design</footer>
    </div>
{% endblock %}