{% extends 'project-page-layout.twig' %}

{% block title %}Ren&eacutee Slamka | Brewmeister{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
{% endblock %}

{% block projectTitle %}
    Brewmeister
{% endblock %}

{% block projectType %}
    University Project
{% endblock %}

{% block projectDate %}
    In Progress - Planning Stages
{% endblock %}

{% block projectSummary %}
    A web app akin to Yelp that helps users find new beers in their
    city and post ratings to help other users make an informed decision
    about which beers to try.
{% endblock %}

{% block projectLinks %}
{% endblock %}

{% block projectLanguages%}
    <p>Java, JavaScript</p>
{% endblock %}
{% block projectTechStack%}
    <p>Spring, JDBC, AngularJS, Bootstrap</p>
{% endblock %}

{% block projectImage %}
{% endblock %}


{% block projectDescription %}
    Details coming soon!
{% endblock %}

{% block projectSkills %}
    To be determined...
{% endblock %}