{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka | Contact{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %}

{% block content %}
    <div class="contact-panel-1">
        <div class="contact-bg-white-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-10  contact-info-section">
                        <h1>Contact Me</h1>
                        <p>
                            Have a project or job opportunity you think I might be interested in?
                            Shoot me an email!
                        </p>
                        <p id="contact-info-sidenote">
                            PS. I'm always looking to
                            practice my French and Italian, so if you happen to speak one or both of
                            those languages, feel free to message me in either. Merci!
                        </p>
                        <form id="contact-form">
                            <label>Name:</label><br>
                            <input type="text" name="name" size="40" placeholder="Luke Skywalker"><br>
                            <label>Email:</label><br>
                            <input type="text" name="email" size="40" placeholder="lskywalker@therepublic.com"><br>
                            <label>Message:</label><br>
                            <textarea rows="6" cols="60" placeholder="Once upon a time, in a galaxy far, far away... "></textarea>
                        </form>
                        <button>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}