{% extends 'project-page-layout.twig' %}

{% block title %}Northwest Hacks - The Falling Myo{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/falling-myo.css"/>
{% endblock %}

{% block projectTitle %}
    Northwest Hacks - The Falling Myo
{% endblock %}

{% block projectType %}
    Hackathon Entry
{% endblock %}

{% block projectDate %}
    March  13th-14th, 2015
{% endblock %}

{% block projectSummary %}
    An Android app that, when paired with a Myo bracelet, can detect when the wearer has fallen
    and send an alert message to a hospital or care home staff through a joined web app.
{% endblock %}

{% block projectLinks %}
    <a href="https://github.com/ReneeSlamka">Source code</a>
{% endblock %}

{% block projectImage %}
    <img id="blog-board-individual-img" src="http://cdn.macrumors.com/article-new/2013/02/myo-800x453.png">
{% endblock %}


{% block projectDescription %}
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
{% endblock %}

{% block projectSkills %}
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
{% endblock %}