{% extends 'project-page-layout.twig' %}

{% block title %}Northwest Hacks - Smart Fall Detector{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/falling-myo.css"/>
{% endblock %}

{% block projectTitle %}
    Smart Fall Detector
{% endblock %}

{% block projectType %}
    Hackathon Entry
{% endblock %}

{% block projectDate %}
    March  13th-14th, 2015
{% endblock %}

{% block projectSummary %}
    An Android app that, when paired with a Myo bracelet, can detect when the wearer has fallen
    and send an alert message to a hospital or care home staff through a joined web app.
{% endblock %}

{% block projectLinks %}
    <a href="https://github.com/ReneeSlamka">Source code</a>
{% endblock %}

{% block projectLanguages%}
    <p>Java, JavaScript</p>
{% endblock %}
{% block projectTechStack%}
    <p>Myo Armband, Android SDK, Myo Android Library, Firebase, Bootstrap</p>
{% endblock %}

{% block projectImage %}
    <img id="blog-board-individual-img" src="http://cdn.macrumors.com/article-new/2013/02/myo-800x453.png">
{% endblock %}


{% block projectDescription %}
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
{% endblock %}

{% block projectSkills %}
    <div class="smart-fall-detector-skill-badge">
        <img class="square-badge" src="/assets/img/icons/web-dev-badge.png">
        <footer>Front End Development</footer>
    </div>
    <div class="smart-fall-detector-skill-badge">
        <img class="square-badge" src="/assets/img/icons/git-badge.png">
        <footer>Source Control - Git</footer>
    </div>
    <div class="smart-fall-detector-skill-badge">
        <img class="hex-badge" src="/assets/img/icons/android-badge.png">
        <footer>Android Development</footer>
    </div>
    <div class="smart-fall-detector-skill-badge">
        <img class="square-badge" src="/assets/img/icons/ux-badge.png">
        <footer>UI Design</footer>
    </div>
{% endblock %}