{% extends 'project-page-layout.twig' %}

{% block title %}Heart Rate Monitor{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/heart-rate-monitor.css"/>
{% endblock %}

{% block projectTitle %}
    Heart Rate Monitor
{% endblock %}

{% block projectType %}
    2nd Year University Project
{% endblock %}

{% block projectDate %}
    February 2014
{% endblock %}

{% block projectSummary %}
    A makeshift heart rate monitor that can measure your heart rate and
    record the result in your computer terminal.
{% endblock %}

{% block projectLinks %}
{% endblock %}

{% block projectLanguages%}
    <p>C</p>
{% endblock %}
{% block projectTechStack%}
    <p>Breadboard circuit, photoelectric sensor</p>
{% endblock %}

{% block projectImage %}
    <img id="heart-monitor-individual-img" src="/assets/img/project-preview-pics/heart-monitor-preview.jpg">
{% endblock %}


{% block projectDescription %}
    Coming soon!
{% endblock %}

{% block projectSkills %}
    <div class="heart-rate-monitor-skill-badge">
        <img class="hex-badge" src="/assets/img/icons/embedded-badge.png">
        <footer>Embedded Systems</footer>
    </div>
{% endblock %}