{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick-1.6.0/slick/slick-theme.css"/>
<!--<link rel="stylesheet" href="/assets/css/home-carousel.css" />-->
{% endblock %}

{% block js %}
<script src="/assets/js/home-carousel.js"></script>
{% endblock %}

{% block content %}
    <div id="homepage-section-1-bg-container">
        <div class="container">
            <div class="row">
                <div id="home-text-column-container" class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                    <section class="home-text-content">
                        <!--text-->
                        <header>Welcome!</header>
                        <p>
                            My name is <span>Ren&eacutee Slamka</span>, and I'm a third year
                            computer engineering student at the University
                            of British Columbia. After spending my last two co-op terms doing web development, I
                            figured it was time to take a crack at building my own website.
                            It's still a work in progress, but feel free to look around!
                        </p>
                        <p id="photo-credit">
                            Special thanks to my uncle Howard Ursuliak
                            for photos that I don't actually look awkward in -
                            you can check out more of his work
                            <a href="http://cielvariablearchives.org/en/component/content/
                            article/545-portfolio-howard-ursuliak.html">here.</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="homepage-section-2-bg-container">
        <div class="container">
            <header class="text-center">Recent Highlights</header>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-10-offset-1">
                    <div class="home-page-carousel">
                        <a href="/brewmeister">
                            <div class="project-panel" id="brewmeister">
                                <section class="panel-label">
                                    <footer>Brewmeister</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/personal-website">
                            <div class="project-panel" id="website">
                                <section class="panel-label">
                                    <footer>Personal Website</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/blog-board">
                            <div class="project-panel" id="blog-board-panel">
                                <section class="panel-label">
                                    <footer>Blog Board</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/brewmeister">
                            <div class="project-panel" id="brewmeister">
                                <section class="panel-label">
                                    <footer>Brewmeister1</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/personal-website">
                            <div class="project-panel" id="website">
                                <section class="panel-label">
                                    <footer>Personal Website1</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/blog-board">
                            <div class="project-panel" id="blog-board-panel">
                                <section class="panel-label">
                                    <footer>Blog Board1</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
