{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick-1.6.0/slick/slick-theme.css"/>
<!--<link rel="stylesheet" href="/assets/css/home-carousel.css" />-->
{% endblock %}

{% block js %}
<script src="/assets/js/home-carousel.js"></script>
{% endblock %}

{% block content %}
    <div id="homepage-section-1-bg-container">
        <div class="container">
            <div class="row">
                <div id="home-text-column-container" class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                    <section class="home-text-content">
                        <header>Hi there!</header>
                        <p>
                            My name is <span>Ren&eacutee Slamka</span>, and I'm a fourth year
                            computer engineering student at the University
                            of British Columbia. This website is my attempt at graphic design after
                            spending the past several years learning about calculus, data structures,
                            and logic board design.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="homepage-section-2-bg-container">
        <div class="container">
            <header class="text-center">Recent Highlights</header>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                    <div class="home-page-carousel">
                        <a href="/brewmeister">
                            <div class="project-panel" id="brewmeister">
                                <section class="panel-label">
                                    <footer>Brewmeister</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/personal-website">
                            <div class="project-panel" id="website">
                                <section class="panel-label">
                                    <footer>Personal Website</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/blog-board">
                            <div class="project-panel" id="blog-board-panel">
                                <section class="panel-label">
                                    <footer>Blog Board</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/brewmeister">
                            <div class="project-panel" id="brewmeister">
                                <section class="panel-label">
                                    <footer>Brewmeister1</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/personal-website">
                            <div class="project-panel" id="website">
                                <section class="panel-label">
                                    <footer>Personal Website1</footer>
                                </section>
                            </div>
                        </a>
                        <a href="/blog-board">
                            <div class="project-panel" id="blog-board-panel">
                                <section class="panel-label">
                                    <footer>Blog Board1</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
