{% extends 'layout.twig' %}

{% block title %}Renee Slamka{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/css/home.css"/>
<!--<link rel="stylesheet" href="/assets/css/home-carousel.css" />-->
{% endblock %}

{% block js %}
<script src="/assets/js/home-carousel.js"></script>
{% endblock %}

{% block content %}
    <div id="homepage-section-1-bg-container">
        <div class="container">
            <div class="row">
                <div id="home-text-column-container" class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                    <section class="home-text-content">
                        <!--text-->
                        <header>Welcome!</header>
                        <p>
                            My name is <span>Ren&eacutee Slamka</span>, and I'm a third year
                            computer engineering student at the University
                            of British Columbia. After spending my last two co-op terms doing web development, I
                            figured it was time to take a crack at building my own website.
                            Feel free to look around!
                        </p>
                        <p id="photo-credit">
                            Special thanks to my uncle Howard Ursuliak
                            for photos that I don't actually look awkward in -
                            you can check out his other work
                            <a href="http://cielvariablearchives.org/en/component/content/
                            article/545-portfolio-howard-ursuliak.html">here.</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="homepage-section-2-bg-container">
        <div class="container">
            <header class="text-center">Recent Highlights</header>
            {%  include 'home-carousel.twig' %}
        </div>
    </div>
{% endblock %}
