{% extends 'project-page-layout.twig' %}

{% block title %}Personal Website{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/personal-website.css"/>
{% endblock %}

{% block projectTitle %}
    Personal Website
{% endblock %}

{% block projectType %}
    Personal Project
{% endblock %}

{% block projectDate %}
    February - Present
{% endblock %}

{% block projectSummary %}
    A web app that allows users to create communal boards where they can share posts
    with other invited members.
{% endblock %}

{% block projectLinks %}
    <a href="https://github.com/ReneeSlamka">Source code</a>
    <a href="https://projecteuler.net">Project site</a>
{% endblock %}

{% block projectImage %}
    <img id="blog-board-individual-img" src="/assets/img/blog-board-img.jpg">
{% endblock %}


{% block projectDescription %}
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
{% endblock %}

{% block projectSkills %}
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
{% endblock %}