{% extends 'project-page-layout.twig' %}

{% block title %}Personal Website{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/personal-website.css"/>
{% endblock %}

{% block projectTitle %}
    Personal Website
{% endblock %}

{% block projectType %}
    Personal Project
{% endblock %}

{% block projectDate %}
    February - Present
{% endblock %}

{% block projectSummary %}
    A web app that allows users to create communal boards where they can share posts
    with other invited members.
{% endblock %}

{% block projectLinks %}
{% endblock %}

{% block projectImage %}
    <img id="personal-website-img" src="/assets/img/project-page-pics/current-site-screenshot.png">
{% endblock %}

{% block projectLanguages%}
    <p>PHP, Html, CSS</p>
{% endblock %}

{% block projectTechStack%}
    <p>Twig, Bootstrap, Slim, Bower, Composer, Photoshop</p>
{% endblock %}

{% block projectDescription %}
    <p>
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    </p>
    <img src="/assets/img/project-page-pics/letter-insanity.png">
    <p>
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bk
    </p>
    <img id="first-site-mockup-img" src="/assets/img/project-page-pics/first-site-mockup.png">
    <p>
        Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
        Bkfjsdjflsd Bkfjsdjflsd Bk
    </p>
    <img id="eyes-closed-img" src="/assets/img/project-page-pics/eyes-closed.JPG">
    <footer>
        The hardest part of this entire project: keeping my freakin' eyes open for the camera...
    </footer>

{% endblock %}

{% block projectSkills %}
    <div class="personal-website-skill-badge">
        <img class="square-badge" src="/assets/img/icons/web-dev-badge.png">
        <footer>Front End Development</footer>
    </div>
    <div class="personal-website-skill-badge">
        <img class="square-badge" src="/assets/img/icons/git-badge.png">
        <footer>Source Control - Git</footer>
    </div>
    <div class="personal-website-skill-badge">
        <img class="square-badge" src="/assets/img/icons/ux-badge.png">
        <footer>UI Design</footer>
    </div>
{% endblock %}