{% extends 'layout.twig' %}

{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <div id="projects-section-1-bg-container">
        <div class="container">
            <div id="projects-title-section" class="row text-center">
                <p>Some things I've worked on at school and in my spare time</p>
            </div>
            <div class="row text-center row-projects">
                <div class="project-panel" id="blog-board-panel">
                    <section class="panel-label">
                        Blog Board
                    </section>
                </div>
                <div class="project-panel">
                    <section class="panel-label">
                        The Falling Myo
                    </section>
                </div>
                <div class="project-panel">
                    <section class="panel-label">
                        Personal Website
                    </section>
                </div>
            </div>
            <div class="row text-center row-projects">
                <div class="project-panel">
                    <section class="panel-label">
                        Project Euler
                    </section>
                </div>
                <div class="project-panel">
                    <section class="panel-label">
                        Tetherbot
                    </section>
                </div>
                <div class="project-panel">
                    <section class="panel-label">
                        Simon Says App
                    </section>
                </div>
            </div>
            <div class="row text-center row-projects">
                <div class="project-panel">
                    <section class="panel-label">
                        Heart Rate Monitor
                    </section>
                </div>
                <div class="project-panel">
                    <section class="panel-label">
                        Heart Rate Monitor
                    </section>
                </div>
                <div class="project-panel">
                    <section class="panel-label">
                        What's Next?
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}