{% extends 'project-page-layout.twig' %}

{% block title %}Project Euler{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/project-euler.css"/>
{% endblock %}

{% block projectTitle %}
    Project Euler
{% endblock %}

{% block projectType %}
    Coding Challenge
{% endblock %}

{% block projectDate %}
    Ongoing
{% endblock %}

{% block projectSummary %}
    "A series of challenging mathematical/computer programming problems
    that will require more than just mathematical insights to solve."<br>
    - <a href="https://projecteuler.net">Project Euler </a>

{% endblock %}

{% block projectLinks %}
{% endblock %}

{% block projectLanguages%}
    <p>Java</p>
{% endblock %}
{% block projectTechStack%}
    <p>Eclipse</p>
{% endblock %}

{% block projectImage %}
    <img id="blog-board-individual-img" src="/assets/img/blog-board-img.jpg">
{% endblock %}


{% block projectDescription %}
   Coming soon!
{% endblock %}

{% block projectSkills %}
    Coming soon!
{% endblock %}