{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka | Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block js %}
    <script src="/vendor/isotope/js-min/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/assets/js/isotope-project-grid.js"></script>
{% endblock %}

{% block content %}
    <div class="top-navbar-underimage"></div>
    <div id="projects-section-1-bg-container">
        <div class="container">
            <div id="projects-title-section" class="row text-center">
                <p>Some things I've worked on at school and in my spare time</p>
            </div>
            <div id="panel-filter" class="row text-center button-group filter-button-group">
                <button class="button btn button-secondary" id="show-all-filter" data-filter="*">Show All</button>
                <button class="button btn button-secondary" id="personal-projects-filter" data-filter=".project">Personal Projects</button>
                <button class="button btn button-secondary" id="school-projects-filter" data-filter=".coursework">School Projects</button>
                <button class="button btn button-secondary" id="courses-filter" data-filter=".course">Courses</button>
            </div>
            <div class="col-xl-10 offset-xl-1 col-md-12 col-sm-12 offset-sm-0 col-9 offset-2">
                <div class="grid">
                    <div class="grid-item project">
                        <a href="/index.php/space-invaders">
                            <div class="project-panel" id="space-invaders">
                                <section class="panel-label">
                                    <footer>Space Invaders</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item project coursework">
                        <a href="/wireless-audio-streaming">
                            <div class="project-panel gray-border" id="wireless-audio-streaming">
                                <section class="panel-label">
                                    <footer>Wireless Audio Streaming</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/cpen-431 course">
                            <div class="project-panel gray-border" id="cpen-431">
                                <section class="panel-label">
                                    <footer>CPEN 431 - Distributed Systems</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item project">
                        <a href="/student-budgeting-app">
                            <div class="project-panel" id="student-budgeting-app">
                                <section class="panel-label">
                                    <footer>Space Invaders</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item course">
                        <a href="/cpen-400">
                            <div class="project-panel" id="cpen-400">
                                <section class="panel-label">
                                    <footer>CPEN 400 - Modern Web Apps</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item coursework">
                        <a href="/brewmeister">
                            <div class="project-panel" id="brewmeister">
                                <section class="panel-label">
                                    <footer>Brewmeister</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item project">
                        <a href="/personal-website">
                            <div class="project-panel" id="website">
                                <section class="panel-label">
                                    <footer>Personal Website</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item course">
                        <a href="/cpsc-320">
                            <div class="project-panel gray-border" id="cpsc-320">
                                <section class="panel-label">
                                    <footer>CPSC 320 - Intermediate Algorithms</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item course">
                        <a href="/cpen-331">
                            <div class="project-panel gray-border" id="cpen-331">
                                <section class="panel-label">
                                    <footer>CPEN 331 - Operating Systems</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item project">
                        <a href="/blog-board">
                            <div class="project-panel" id="blog-board-panel">
                                <section class="panel-label">
                                    <footer>Blog Board - Coming soon!</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                    <div class="grid-item project">
                        <a href="/falling-myo">
                            <div class="project-panel" id="falling-myo">
                                <section class="panel-label">
                                    <footer>Smart Fall Detector - Coming Soon!</footer>
                                </section>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}