{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka | Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block js %}
    <script src="/vendor/isotope/dist/isotope.min.js"></script>
    <script type="text/javascript" src="/assets/js/isotope-project-grid.js"></script>
{% endblock %}

{% block content %}
    <div class="top-navbar-underimage"></div>
    <div id="projects-section-1-bg-container">
        <div class="container">
            <div id="projects-title-section" class="row text-center">
                <p>Some things I've worked on at school and in my spare time</p>
            </div>
            <div class="grid">
                <div class="grid-item">
                    <a href="/space-invaders">
                        <div class="project-panel" id="space-invaders">
                            <section class="panel-label">
                                <footer>Space Invaders</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/wireless-audio-streaming">
                        <div class="project-panel" id="wireless-audio-streaming">
                            <section class="panel-label">
                                <footer>Wireless Audio Streaming</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/cpen-431">
                        <div class="project-panel" id="cpen-431">
                            <section class="panel-label">
                                <footer>CPEN 431 - Distributed Systems</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/student-budgeting-app">
                        <div class="project-panel" id="student-budgeting-app">
                            <section class="panel-label">
                                <footer>Space Invaders</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/cpen-400">
                        <div class="project-panel" id="cpen-400">
                            <section class="panel-label">
                                <footer>CPEN 400 - Modern Web Apps</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/brewmeister">
                        <div class="project-panel" id="brewmeister">
                            <section class="panel-label">
                                <footer>Brewmeister</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/personal-website">
                        <div class="project-panel" id="website">
                            <section class="panel-label">
                                <footer>Personal Website</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/cpsc-321">
                        <div class="project-panel" id="cpsc-320">
                            <section class="panel-label">
                                <footer>CPSC 320 - Intermediate Algorithms</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/cpen-331">
                        <div class="project-panel" id="cpen-331">
                            <section class="panel-label">
                                <footer>CPEN 331 - Operating Systems</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a>
                        <div class="project-panel" id="blog-board-panel">
                            <section class="panel-label">
                                <footer>Blog Board - Coming soon!</footer>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="grid-item">
                    <a>
                        <div class="project-panel" id="falling-myo">
                            <section class="panel-label">
                                <footer>Smart Fall Detector - Coming Soon!</footer>
                            </section>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}