{% extends 'layout.twig' %}

{% block title %}Ren&eacutee Slamka | Resum&eacute{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/resume.css"/>
{% endblock %}

{% block content %}
    <div class="top-navbar-underimage"></div>
    <iframe src="/assets/docs/2016-resume.pdf" id="resume-iframe" frameborder="0" scrolling="no">
    </iframe>
{% endblock %}