{% extends 'project-page-layout.twig' %}

{% block title %}Student Budgeting App{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/project-euler.css"/>
{% endblock %}

{% block projectTitle %}
    Student Budgeting App
{% endblock %}

{% block projectType %}
    Personal Project
{% endblock %}

{% block projectDate %}
    In Progress - Planning Stages
{% endblock %}

{% block projectSummary %}
    And Android app that will assist students in creating a realistic budget
    that will get them through the school year.
{% endblock %}

{% block projectLinks %}
    <a href="https://github.com/ReneeSlamka">Source code</a>
    <a href="https://projecteuler.net">Project site</a>
{% endblock %}

{% block projectImage %}
    <img id="student-budgeting-app-individual-img" src="/assets/img/blog-board-img.jpg">
{% endblock %}


{% block projectDescription %}
    Details coming soon!
{% endblock %}

{% block projectSkills %}
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
{% endblock %}