{% extends 'project-page-layout.twig' %}

{% block title %}Telephone Game App{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/telephone-app.css"/>
{% endblock %}

{% block projectTitle %}
    Telephone Game App
{% endblock %}

{% block projectType %}
    3rd Year University Project
{% endblock %}

{% block projectDate %}
    October - November, 2014
{% endblock %}

{% block projectSummary %}
    An Android group game with a similar premise to the "Telephone" or "Simon Says"
    imitation games. With 4 coloured squares to choose from, the first player starts
    off the sequence, and every successive player that correctly enters the sequence gets to
    add a new entry to it. The player that lasts the longest wins.
{% endblock %}

{% block projectLinks %}
    <a href="https://github.com/ReneeSlamka">Source code</a>
{% endblock %}

{% block projectImage %}
    <img id="blog-board-individual-img" src="/assets/img/blog-board-img.jpg">
{% endblock %}


{% block projectDescription %}
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
    Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd Bkfjsdjflsd
{% endblock %}

{% block projectSkills %}
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
    <img src="/assets/img/sample-badge.png">
{% endblock %}