{% extends 'project-page-layout.twig' %}

{% block title %}Ren&eacutee Slamka | Telephone App{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/project-page-layout.css"/>
    <link rel="stylesheet" href="/assets/css/telephone-app.css"/>
{% endblock %}

{% block projectTitle %}
    Telephone Game App
{% endblock %}

{% block projectType %}
    3rd Year University Project
{% endblock %}

{% block projectDate %}
    October - November, 2014
{% endblock %}

{% block projectSummary %}
    An Android group game with a similar premise to the "Telephone" or "Simon Says"
    imitation games. With 4 coloured squares to choose from, the first player starts
    off the sequence, and every successive player that correctly enters the sequence gets to
    add a new entry to it. The player that lasts the longest wins.
{% endblock %}

{% block projectLinks %}
{% endblock %}

{% block projectLanguages%}
    <p>Java, C, VHDL</p>
{% endblock %}
{% block projectTechStack%}
    <p>Android SDK, Android Studio, Eclipse, DE2 Board</p>
{% endblock %}

{% block projectImage %}
    <img id="telephone-app-img" src="/assets/img/project-page-pics/telephone-app-screenshot.jpg">
{% endblock %}


{% block projectDescription %}
    Coming soon!
{% endblock %}

{% block projectSkills %}
    <div class="telephone-app-skill-badge">
        <img class="square-badge" id="git-badge" src="/assets/img/icons/git-badge.png">
        <footer>Source Control - Git</footer>
    </div>
    <div class="telephone-app-skill-badge">
        <img class="hex-badge" src="/assets/img/icons/android-badge.png">
        <footer>Android Development</footer>
    </div>
    <div class="telephone-app-skill-badge">
        <img class="square-badge" src="/assets/img/icons/ux-badge.png">
        <footer>UI Design</footer>
    </div>
{% endblock %}