.about-panel-1 {
    padding-top: 50px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.4);
}

.intro-section {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    font-size: 20px;
}

.intro-section h1 {
    margin-bottom: 30px;
    font-size: 60px;
}

.about-portrait {
    width: 600px;
}


.about-panel-2 {
    background-color: #f4f4f4;
    padding-top: 170px;
    padding-bottom: 170px;
}

.renee-attribute-section {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.renee-attribute-section * {
    margin-left: 8px;
    margin-right: 8px;
}

.renee-attribute-section h2 {
    font-size: 60px;
    margin-top: 45px;
}

.attribute-set-img {
    width: 170px;
}

.about-panel-3 {
    padding-top: 60px;
    padding-bottom: 80px;

}

.about-panel-3 h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.skill-set-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
}

.about-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.about-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge {
    height: 152px;
    width: auto;
}

.about-panel-4 {
    background-color: #f4f4f4;
    padding-top: 70px;
    padding-bottom: 100px;
}

.random-facts-section h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.random-facts-section ul{
   margin-left: -23px;
}

.random-facts-section li {
    margin-bottom: 15px;
    font-size: 16px;
}

.random-facts-img {
   padding-left: 80px;
}

#float-plane-ride {
    width: 400px;
}

