/* first intro panel styling and inner elements styling */
.about-panel-1 {
    padding-top: 140px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.4);
}

.intro-section {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    font-size: 20px;
}

.intro-section h1 {
    margin-bottom: 30px;
    font-size: 60px;
}

.about-portrait {
    width: 570px;
    margin-left: -16%;
}

.about-portrait-mobile {
    display: none;
}

#about-hashtag {
    font-size: 32px;
    margin-top: 24px;
    color: lightseagreen;
}

/* second summary panel styling and inner elements styling */
.about-panel-2 {
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-panel-2 img {
    display: none;
    margin: 0 auto;
}


/* third skill panel styling and inner elements styling */
.about-panel-3 {
    padding-top: 60px;
    padding-bottom: 80px;

}

.skill-section-mobile {
    display: none;
}

.about-panel-3 h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.skill-set-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.about-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.about-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge-graphic {
    height: 152px;
    width: auto;
}

#backend-dev-badge-graphic {
    margin-bottom: 5px;
}

#ui-design-badge-graphic {
    margin-bottom: 5px;
}

#android-badge-graphic {
    margin-bottom: 5px;
}

#skill-description-container {
    background-color: rgba(255,184,77,0.7);
    margin-top: 20px;
    margin-left: 8%;
    width: 80%;
    height: 350px;
    border-radius: 8px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
}

#skill-title {
    font-size: 28px;
}

#related-projects {
    font-size: 18px;
}

.active {
    display: block;
}

.inactive {
    display: none;
}


/* fourth facts panel styling */
.about-panel-4 {
    background-color: #f4f4f4;
    padding-top: 70px;
    padding-bottom: 100px;
}

.random-facts-section h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.random-facts-section ul{
   margin-left: -18px;
}

.random-facts-section li {
    margin-bottom: 15px;
    font-size: 16px;
}

.random-facts-img {
   padding-left: 80px;
}

#float-plane-ride {
    width: 400px;
    border-radius: 56px;
    margin-bottom: 12px;
}

.random-facts-section img {
    height: 14px;
    margin-bottom: 2px;
}

.random-facts-img footer {
    margin-left: 7%;
}

@media screen and (min-width: 1400px) {
    .about-portrait {
        width: 600px;
    }
}

@media screen and (min-width: 1200px)  {
    #lg-collage-img {
        display: block;
    }

    .random-facts-section {
        padding-right: 10%;
    }
}

@media screen and (max-width: 1199px) {
    .intro-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-portrait {
        width: 530px;
    }

    .random-facts-img {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    #md-collage-img {
        display: block;
        width: 100%;
    }

    .square-badge {
        width: 115px;
    }

    .hex-badge {
        width: 135px;
    }

    .hex-badge + footer {
        margin-left: 10px;
    }

    #git-badge-graphic {
        height: 115px;
    }

    #ui-design-badge-graphic {
        width: 114px;
        margin-bottom: 2px;
    }

    .about-skill-badge footer {
        width: 115px;
    }
}

@media screen and (max-width: 991px) {
    .about-panel-1 {
        padding-top: 130px;
    }

    .intro-section {
        padding-left: 26px;
        padding-right: 40px;
        font-size: 18px;
    }

    .intro-section h1 {
        font-size: 52px;
    }

    .about-portrait {
        width: 490px;
        margin-left: -20%;
    }

    #about-hashtag {
        font-size: 28px;
    }

    .skill-section-non-mobile {
        display: none;
    }

    .skill-section-mobile {
        display: block;
        margin-top: 30px;
    }

    #skill-description-container {
        margin: 0 auto;
        width: 70%;
    }

    #git-badge-graphic {
        margin-bottom: 10px;
    }

    #float-plane-ride {
        width: 310px;
        margin-top: 24px;
    }

    .random-facts-section h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    #sm-collage-img {
        display: block;
        width: 100%;
    }

    #git-badge-graphic {
        margin-left: 20px;
    }

    #ui-design-badge-graphic {
        margin-left: 16px;
    }

    .random-facts-img footer {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .about-portrait {
        display: none;
    }

    .about-portrait-mobile {
        display: block;
        width: 400px;
        margin: 20px auto;
    }

    .intro-section {
        padding-top: 60px;
    }

    #about-hashtag {
        margin-bottom: 80px;
    }

    #xs-collage-img {
        display: block;
        width: 84%;
    }

    .skill-section-mobile img {
        margin: 0 auto;
    }

    .random-facts-section {
        padding-top: 60px;
    }

    #float-plane-ride {
        display: block;
        margin: 20px auto;
    }

    .random-facts-img footer {
        width: 64%;
        margin-left: 19%;
    }
}



