.bottom-navbar-container {
    background-color: rgba(0,0,0,0.9);
    height: 90px;
    padding-top: 30px;
}

.copyright-section {
    float: left;
    padding-left: 18%;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: Lato, "PT Sans Narrow", sans-serif;
}

.bottom-social-media-links {
    float: right;
    padding-right: 18%;
    position: relative;
    top: 9px;
}

.bottom-social-media-links img {
    height: 22px;
    margin-left: 8px;
    margin-right: 8px;
}

@media (max-width: 991px) {
    .copyright-section {
        padding-left: 10%;
    }

    .bottom-social-media-links {
        padding-right: 10%;
    }
}

@media (max-width: 660px) {
    .copyright-section {
        padding-left: 7%;
    }

    .bottom-social-media-links {
        padding-right: 5%;
    }
}

@media (max-width: 420px) {
    .copyright-section {
        padding-left: 2%;
    }

    .bottom-social-media-links {
        padding-right: 0;
    }
}