.bottom-navbar-container {
    background-color: rgba(0,0,0,0.9);
    height: 110px;
    padding-top: 30px;
}

#copyright-section {
    float: left;
    padding-left: 20%;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

#bottom-social-media-links {
    float: right;
    padding-right: 18%;
}