#brewmeister-pic-1 {
    width: 530px;
    margin-left: 5%;
}

#brewmeister-planning-section {
    padding-top: 50px;
}

.brewmeister-mockup-gallery {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mockup-preview {
    height: 170px;
}

#beermeister-backend-section {
    padding-top: 60px;
}

#brewmeister-pic-6 {
    width: 450px;
    margin-top: 25px;
}

#brewmeister-pic-7 {
    width: 450px;
    margin-top: 25px;
}

#brewmeister-pic-8 {
    width: 450px;
    margin-top: 40px;
}

#brewmeister-front-end-section {
    padding-top: 50px;
}

#brewmeister-pic-8 {
    width: 450px;
    margin-top: 20px;
}

.brewmeister-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.brewmeister-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge {
    height: 152px;
    width: auto;
}

/* General styling */
.brewmeister-section-title {
    margin-bottom: 30px;
}

.brewmeister-footer {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 3px;
}


/* 1100px - 1199px Styling */
@media screen and (max-width:1199px) {

    #brewmeister-pic-6 {
        width: 360px;
        margin-top: 25px;
    }

    #brewmeister-pic-7 {
        width: 360px;
        margin-top: 25px;
    }

    #brewmeister-pic-8 {
        width: 360px;
        margin-top: 70px;
    }

    .project-description p {
        font-size: 18px;
    }
}
