.smart-fall-detector-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.smart-fall-detector-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge {
    height: 152px;
    width: auto;
}

#smart-fall-detector-img {
    width: 600px;
}