#website-pic-1 {
    width: 560px;
}

#website-project-planning {
  padding-top: 50px;
}

#website-project-planning footer {
    margin-top: 3px;
    margin-left: 95px;
    font-size: 14px;
}

.website-mockup-gallery {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.website-mockup-gallery img {
    height: 150px;
}

#website-tech-stack {
    padding-top: 50px;
}

#website-direction {
    padding-top: 50px;
}

.personal-website-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#website-pic-5 {
    width: 800px;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personal-website-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge {
    height: 152px;
    width: auto;
}

/* General Styling */
.project-description h2 {
    margin-bottom: 20px;
}

@media screen and (max-width:1199px) {
    #website-pic-1 {
        width: 460px;
    }

    #website-pic-5 {
        width: 700px;
    }

    #website-project-planning footer {
        margin-top: 3px;
        margin-left: 60px;
        font-size: 14px;
    }

    .project-description p {
        font-size: 18px;
    }

}
