.continued-description {
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-caption {
    margin-left: 0px;
    font-size: 16px;
}

.personal-website-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.personal-website-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge {
    height: 152px;
    width: auto;
}

#personal-website-img {
    width: 600px;
}


#first-site-mockup-img {
    width: 800px;
}

#eyes-closed-img {
    width: 800px;
}