.project-background-container {

}

/*Styling for topmost panel*/

.project-panel-1 {
    padding-top: 80px;
    padding-bottom: 90px;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 48px;
}

hr {
    border: 0px;
    margin-top: 5px;
    clear: both;
    display: block;
    width: 94%;
    background-color: rgba(0,0,0,0.5);
    height: 1px;
    text-align: left;
    margin-left: 0px;
}

.project-header-info p {
    display: inline-block;
    margin-top: 0;
}

.project-type {
    float: left;
}

.project-date {
    float: right;
    margin-right: 50px;
}

.project-summary {
    margin-top: 15px;
    font-size: 20px;
}

.project-links {
    margin-top: 20px;
}

.project-links h5 {
    display: block;
    margin-bottom: 10px;
}

.tech-stack {
    margin-top: 40px;
}

.tech-stack span {
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}
.dev-tool-list p {
    font-weight: 400;
}

.dev-tool-list p {
    display: inline-block;
}


/*Styling for second panel*/

.project-panel-2 {
    padding-top: 60px;
    padding-bottom: 90px;
    background-color: #f4f4f4;
}

.project-description {
    font-size: 20px;
}

.project-description h1 {
    margin-bottom: 50px;
}


/*Styling for third panel*/

.project-panel-3 {
    padding-top: 60px;
    margin-bottom: 120px;
}

.project-skills-gained h1 {
    margin-bottom: 50px;
}

.badge-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*General styling*/


@media screen and (max-width:1199px) {

    .project-page-col {
        padding-left: 40px;
        padding-right: 80px;
    }
}








div.project-image {

}
