body#renee-site {
    /*font-family: 'Fjalla One', sans-serif;*/
    font-family: 'PT Sans Narrow', sans-serif;
}

@font-face {
    font-family: "BEYONDSKTRIAL";
    src: url("/assets/fonts/billy-argel_beyond-sky/BEYONDSKTRIAL.ttf");
}

@font-face {
    font-family: "Always Forever";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForever.ttf");
}

@font-face {
    font-family: "Always Forever Bold";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForeverBold.ttf");
}