.telephone-app-skill-badge {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.telephone-app-skill-badge footer {
    font-size: 18px;
    margin-top: 8px;
}

.square-badge {
    width: 150px;
}

.hex-badge {
    width: 180px;
}

#git-badge {
    height: 152px;
    width: auto;
}

#telephone-app-img {
    width: 300px;
}