.top-navbar-container {
    background: linear-gradient(0deg, #000000, #000000, #222222);
    background-color: rgba(0,0,0,0.9);
}

.black-base-container {
    height: 110px;
    background-image: url("/assets/img/textures/dark-weave-texture-copy.png");
    background-position: 0% 100%;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #000000;
}

#gradient-highlight-container {
    height: 110px;
    background: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.15), rgba(255,255,255,0.12));
}

#name-text-logo {
    font-family: "Always Forever Bold", sans-serif;
    /*"BEYONDSKTRIAL", "Always Forever Bold", "LoveYaLikeASister", ,"LTChickenhawk", "CherrySwash-Regular"*/
    height: 80px;
    padding-left: 5%;
    margin-top: 17px;
    float: left;
    font-size: 90px;
    color: #FFFFFF;
}

#site-links-section {
    float: right;
    padding-right: 20px;
    margin-top: 45px;
}

.nav-links-section {
    display: inline-block;
}

.top-site-link {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

a.top-site-link:hover {
    background-color: rgba(0,200,200,0.7);
    text-decoration: none;
}

.top-site-link h4 {
    color: #FFFFFF;
    font-family: Lato, PT Sans Narrow,  sans-serif;
    font-weight: 100;
    font-size: 18px;
}

#social-media-links {
    display: inline-block;
    margin-left: 30px;
}

.social-media-icon {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a.social-media-icon:hover {
    background-color: rgba(0,200,200,0.7);
    text-decoration: none;
}

.social-media-icon img {
    height: 26px;
}


@media screen and (max-width:1349px) {
    #name-text-logo {
        padding-left: 3.5%;
    }
}


@media screen and (max-width:1199px) {

    #site-links-section {
        padding-right: 10px;
    }

    .top-site-link {
        margin-left: 10px;
        margin-right: 10px;
    }

    #social-media-links {
        margin-left: 15px;
    }
}

@media screen and (max-width:991px) {

    #name-text-logo {
        font-size: 70px;
        margin-top: 28px;
        padding-left: 0;
        margin-left: -5%;
    }

    .nav-links-section {
        margin-right: 25px;
    }

    #site-links-section {
        padding-right: 0;
        margin-right: -5%;
    }

    .top-site-link {
        margin-left: 0px;
        margin-right: 0px;
    }

    .social-media-icon {
        padding-left: 2px;
        padding-right: 2px;
        margin-top: -5px;
    }
}

@media screen and (max-width:859px) {
    #name-text-logo {
        margin-left: -1%;
    }

    #site-links-section {
        margin-right: -1%;
    }
}


@media screen and (max-width:767px) {

}



@font-face {
    font-family: "BEYONDSKTRIAL";
    src: url("/assets/fonts/billy-argel_beyond-sky/BEYONDSKTRIAL.ttf");
}

@font-face {
    font-family: "Always Forever";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForever.ttf");
}

@font-face {
    font-family: "Always Forever Bold";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForeverBold.ttf");
}

