/* navbar container styling */
.top-navbar-container {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.75);
}

#name-text-logo, .site-links-section, .nav-links-section, .social-media-links {
    display: inline-block;
}

.top-navbar-underimage {
    height: 100px;
    width: 100%;
    background-image: url("/assets/img/profile-pics/scenic-1-1.JPG");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    position: absolute;
    z-index: 1;
}


/* site logo styling */
#name-text-logo {
    font-family: "Always Forever Bold", sans-serif;
    font-size: 82px;
    margin-left: 10px;
}

#name-text-logo a {
    color: white;
    text-decoration: none;
}

#name-text-logo a:hover {
    color: #00b3ee;
}


/* mobile button icon styling */
#mobile-menu-button {
    display: none;
}

#top-navbar-mobile-linebreak {
    display: none;
}


/* links styling */
.site-links-section {
    margin-left: 18px;
    position: relative;
    top: -6px;
}


/* nav links styling */
.nav-links-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
}

.nav-links-section a:hover {
    color: white;
}

.nav-links-section li {
    font-size: 18px;
    font-family: Lato, PT Sans Narrow, sans-serif;
    font-weight: 300;
    margin-left: 24px;
    margin-right: 24px;
}

.nav-links-section a {
    color: white;
    text-decoration: none;
}


/* fix for a Firefox spacing issue */
@-moz-document url-prefix() {
    .nav-links-section {
        position: relative;
        top: 20px;
    }
}


/* growing underline effect */
.nav-links-section li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav-links-section li:hover:after {
    width: 100%;
    background: #00b3ee;
}


/* social media links styling */
.social-media-links {
    margin-left: 30px;
}

.social-media-links img {
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -7px;
}

.social-media-links img:last-child {
    margin-right: 0px;
}

.social-media-links a:hover {
    text-decoration: none;
}


@media screen and (min-width:1200px) {
    .top-navbar-container, .top-navbar-underimage {
        height: 110px;
    }

    #name-text-logo {
        font-size: 90px;
        margin-top: 24px;
    }

    .site-links-section {
        top: 60px;
        float: right;
    }

    .social-media-links {
        margin-left: 70px;
    }
}

@media screen and (max-width: 1199px) {
    @-moz-document url-prefix() {
        div.site-links-section {
            top: 32px;
        }
    }

    .site-links-section {
        float: right;
        top: 52px; /*32px; works for firefox, not for old chrome?*/
    }

    #name-text-logo {
        margin-left: 10px;
    }

}

@media (max-width: 991px) {
    .top-navbar-container, .top-navbar-underimage {
        height: 84px;
    }

    #name-text-logo {
        font-size: 70px;
        margin-top: 16px;
        margin-left: 0px;
    }

    .nav-links-section li {
        margin-left: 14px;
        margin-right: 14px;
        font-size: 16px;
    }

    .social-media-links img {
        height: 24px;
        margin-top: -3px;
    }

    @-moz-document url-prefix() {
        div.site-links-section {
            top: 24px;
        }
    }

    .site-links-section {
        top: 42px;
    }
}

@media (max-width: 767px) {
    .top-navbar-container, .top-navbar-underimage {
        height: 80px;
    }

    .top-navbar-underimage {
        background-size: inherit;
    }

    .top-navbar-container {
        background-color: rgba(0,0,0,0.85);
    }

    #name-text-logo {
        line-height: 0.55;
        margin-bottom: 0px;
        margin-top: 33px;
        margin-left: 10px;
    }

    #mobile-menu-button {
        display: inline-block;
        height: 48px;
        float: right;
        margin-top: 16px;
        margin-right: 15px;
    }

    #top-navbar-mobile-linebreak {
        display: none;
        width: 100%;
        border-width: 1px;
        background-color: #00b3ee;
        margin-top: 10px;
        margin-bottom: 30px;
        opacity: 0.8;
    }

    .site-links-section {
        display: none;
        position: inherit;
        float: none;
        top: -32px;
        margin-left: 0px;
    }

    @-moz-document url-prefix() {
        /* "undoing" a firefox fix for a diff screen size for simplicity */
        .nav-links-section {
            position: inherit;
            top: 0px;
        }
    }

    .nav-links-section ul {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .nav-links-section li {
        margin-bottom: 20px;
    }

    .nav-links-section li:nth-child(4) {
        margin-bottom: 14px;
    }

    .social-media-links {
        display: none;
    }

}