.top-navbar-container {
    background: linear-gradient(0deg, #000000, #000000, #222222);
    background-color: rgba(0,0,0,0.9);
}

.black-base-container {
    height: 110px;
    background-image: url("/assets/img/textures/dark-weave-texture-copy.png");
    background-position: 0% 100%;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #000000;
}

#gradient-highlight-container {
    height: 110px;
    background: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.15), rgba(255,255,255,0.12));
}

#name-logo {
    height: 80px;
    padding-left: 5%;
    margin-top: 9px;
}

#name-text-logo {
    font-family: "Always Forever Bold", sans-serif;
    /*"BEYONDSKTRIAL", "Always Forever Bold", "LoveYaLikeASister", ,"LTChickenhawk", "CherrySwash-Regular"*/
    height: 80px;
    padding-left: 5%;
    margin-top: 17px;
    float: left;
    font-size: 90px;
    color: #FFFFFF;
}

#site-links-section {
    float: right;
    padding-right: 20px;
    margin-top: 45px;
}

.top-site-link {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

a.top-site-link:hover {
    background-color: rgba(0,200,200,0.7);
    text-decoration: none;
}

.top-site-link h4 {
    color: #FFFFFF;
    font-family: Lato, PT Sans Narrow,  sans-serif;
    font-weight: 100;
    font-size: 18px;
}

#social-media-links {
    display: inline-block;
    margin-left: 30px;
}

.social-media-icon {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a.social-media-icon:hover {
    background-color: rgba(0,200,200,0.7);
    text-decoration: none;
}

.social-media-icon img {
    height: 26px;
}


@font-face {
    font-family: "BEYONDSKTRIAL";
    src: url("/assets/fonts/billy-argel_beyond-sky/BEYONDSKTRIAL.ttf");
}

@font-face {
    font-family: "Always Forever";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForever.ttf");
}

@font-face {
    font-family: "Always Forever Bold";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForeverBold.ttf");
}

@font-face {
    font-family: "PenelopeAnne";
    src: url("/assets/fonts/bythebutterfly_penelope-anne/PenelopeAnne.ttf");
}


@font-face {
    font-family: "";
    src: url("/assets/fonts//");
}

/*new*/
@font-face {
    font-family: "Robot";
    src: url("/assets/fonts/divide-by-zero_robot-teacher/robot.ttf");
}

@font-face {
    font-family: "MANDINGO";
    src: url("/assets/fonts/font-a-licious_mandingo/MANDINGO.TTF");
}

@font-face {
    font-family: "PPETRIAL";
    src: url("/assets/fonts/joebob-graphics_pencilpete/PPETRIAL.otf");
}

@font-face {
    font-family: "ArtBrewery";
    src: url("/assets/fonts/jonathan-s-harris_art-brewery/ArtBrewery.ttf");
}

@font-face {
    font-family: "ArtStudio";
    src: url("/assets/fonts/jonathan-s-harris_art-studio/ArtStudio.ttf");
}

@font-face {
    font-family: "";
    src: url("/assets/fonts/jonathan-s-harris_confetti-stream/ConfettiStream.ttf");
}

@font-face {
    font-family: "Zantroke";
    src: url("/assets/fonts/gluk_zantroke/Zantroke.otf");
}

@font-face {
    font-family: "LoveYaLikeASister";
    src: url("/assets/fonts/kimberly-geswein_love-ya-like-a-sister/LoveYaLikeASister.ttf");
}


@font-face {
    font-family: "KTF-Roadstar";
    src: url("/assets/fonts/ktf-kustomtype_ktf-roadstar/KTF-Roadstar.ttf");
}

@font-face {
    font-family: "Got_Heroin";
    src: url("/assets/fonts/livin-hell_got-heroin/Got_Heroin.ttf");
}

@font-face {
    font-family: "CherrySwash-Regular";
    src: url("/assets/fonts/nataliya-kasatkina_cherry-swash/CherrySwash-Regular.ttf");
}

@font-face {
    font-family: "CherrySwash-Bold";
    src: url("/assets/fonts/nataliya-kasatkina_cherry-swash/CherrySwash-Bold.ttf");
}

@font-face {
    font-family: "LTChickenhawk";
    src: url("/assets/fonts/nymphont_lt-chickenhawk/LTChickenhawk.ttf");
}