.top-navbar-container {
    background: linear-gradient(0deg, #000000, #000000, #222222);
}

.black-base-container {
    height: 100px;
}

#name-logo {
    height: 80px;
    padding-left: 5%;
    margin-top: 9px;
}

.site-links-section {
    float: right;
    padding-right: 20px;
    margin-top: 45px;
}

.top-site-link {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.top-site-link h4 {
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
}