/* navbar container styling */
.top-navbar-container {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.75);
}

#name-text-logo, .site-links-section, .nav-links-section, .social-media-links {
    display: inline-block;
}


/* site logo styling */
#name-text-logo {
    font-family: "Always Forever Bold", sans-serif;
    font-size: 82px;
    margin-left: 10px;
}

#name-text-logo a {
    color: white;
    text-decoration: none;
}

#name-text-logo a:hover {
    color: #00b3ee;
}


/* mobile button icon styling */
#mobile-menu-button {
    display: none;
}


/* links styling */
.site-links-section {
    margin-left: 18px;
    position: relative;
    top: -6px;
}


/* nav links styling */
.nav-links-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
}

.nav-links-section a:hover {
    color: white;
}

.nav-links-section li {
    font-size: 18px;
    font-family: Lato, PT Sans Narrow, sans-serif;
    font-weight: 300;
    margin-left: 24px;
    margin-right: 24px;
}

.nav-links-section a {
    color: white;
    text-decoration: none;
}


/* fix for a Firefox spacing issue */
@-moz-document url-prefix() {
    .nav-links-section {
        position: relative;
        top: 20px;
    }
}


/* growing underline effect */
.nav-links-section li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav-links-section li:hover:after {
    width: 100%;
    background: #00b3ee;
}


/* social media links styling */
.social-media-links {
    margin-left: 30px;
}

.social-media-links img {
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.social-media-links a:hover {
    text-decoration: none;
}


@media screen and (min-width:1200px) {
    .top-navbar-container {
        height: 110px;
    }

    #name-text-logo {
        font-size: 90px;
        margin-top: 24px;
        margin-left: 5%;
    }

    .site-links-section {
        top: -2px;
        margin-left: 14%;
    }

    .social-media-links {
        margin-left: 70px;
    }
}

@media screen and (max-width: 1199px) {
    .site-links-section {
        float: right;
        top: 32px;
    }

    #name-text-logo {
        margin-left: 10px;
    }

}

@media screen and (max-width: 991px) {
    .top-navbar-container {
        height: 84px;
    }

    #name-text-logo {
        font-size: 70px;
        margin-top: 16px;
    }

    .nav-links-section li {
        margin-left: 14px;
        margin-right: 14px;
        font-size: 16px;
    }

    .social-media-links img {
        height: 24px;
        margin-bottom: 2px;
    }

    .site-links-section {
        top: 24px;
    }
}

@media screen and (max-width: 767px) {
    .top-navbar-container {
        height: 272px;
    }

    #mobile-menu-button {
        display: inline-block;
        height: 20px;
    }

    .site-links-section {
        display: block;
        float: none;
        top: -32px;
        margin-left: 0px;
    }

    .nav-links-section ul {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .nav-links-section li {
        margin-bottom: 20px;
    }

    .nav-links-section li:nth-child(4) {
        margin-bottom: 14px;
    }

    .social-media-links {
        display: none;
    }
}

@font-face {
    font-family: "BEYONDSKTRIAL";
    src: url("/assets/fonts/billy-argel_beyond-sky/BEYONDSKTRIAL.ttf");
}

@font-face {
    font-family: "Always Forever";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForever.ttf");
}

@font-face {
    font-family: "Always Forever Bold";
    src: url("/assets/fonts/brittney-murphy-design_always-forever/AlwaysForeverBold.ttf");
}