<nav class="bottom-navbar-container">
    <div class="container">
        <p id="copyright-section">&copy; Renee Slamka 2016</p>
        <section id="bottom-social-media-links">
            <a href="https://ca.linkedin.com/in/renée-slamka-16154285" class="social-media-icon">
                <img src="/assets/img/icons/linked_in.png">
            </a>
            <a href="https://github.com/ReneeSlamka" class="social-media-icon">
                <img src="/assets/img/icons/github.png">
            </a>
            <a href="https://plus.google.com/117677284458310843719" class="social-media-icon">
                <img src="/assets/img/icons/google_plus.png">
            </a>
        </section>
    </div>
</nav>