<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/assets/img/icons/favicon.png">
        <!-- cdn links for third party ibraries and fonts -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

        <!-- refs for local stylesheets and scripts -->
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/tether/dist/js/tether.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/slick-carousel/slick/css/slick.css">
        <script type="text/javascript" src="/vendor/slick-carousel/slick/slick.js"></script>
        <link rel="stylesheet" href="/assets/css/layout.css" />
        <link rel="stylesheet" href="/assets/css/bottom-navbar.css" />
        <link rel="stylesheet" href="/assets/css/site-wide.css" />
        <link rel="stylesheet" type="text/css" href="vendor/slick-carousel/slick/css/slick-theme.css"/>
        <script src="/assets/js/mobile-menu-transition.js"></script>

        {% block css %}
        {% endblock %}
        {% block headerJS %}
        {% endblock %}
    </head>
    <body id="renee-site">
    {%  include 'top-navbar-v2.twig' %}

        {% block js %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    {%  include 'bottom-navbar.twig' %}
    </body>
</html>