{% extends 'layout.twig' %}

{% block content %}
    <div class="project-background-container">
        <div class="project-panel-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 project-details project-page-col">
                        <header class="project-title">
                            {% block projectTitle %}
                            {% endblock %}
                        </header>
                        <hr>
                        <section class="project-header-info">
                            <p class="project-type">
                                {% block projectType %}
                                {% endblock %}
                            </p>
                            <p class="project-date">
                                {% block projectDate %}
                                {% endblock %}
                            </p>
                        </section>
                        <section class="project-summary">
                            {% block projectSummary %}
                            {% endblock %}
                        </section>
                        <section class="project-links">
                            {% block projectLinks %}
                            {% endblock %}
                        </section>
                        <section class="tech-stack">
                            <section class="dev-tool-list">
                                <span>Languages:</span>
                                {% block projectLanguages%}
                                {% endblock %}
                            </section>
                            <section class="dev-tool-list">
                                <span>Tech Stack:</span>
                                    {% block projectTechStack%}
                                    {% endblock %}
                            </section>
                        </section>
                    </div>
                    <div class="col-md-6 project-image project-page-col">
                        {% block projectImage %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="project-panel-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 project-description">
                        <h1>Description</h1>
                        <p>
                            {% block projectDescription %}
                            {% endblock %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-panel-3">
            <div class="container">
                <div class="row project-skills-gained">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h1>Skills Acquired</h1>
                        {% block projectSkills %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}