<nav class="top-navbar-container">
    <div class="container">
        <h1 id="name-text-logo">
            <a href="/">
                Ren&eacutee Slamka
            </a>
        </h1>
        <img id="mobile-menu-button" src="/assets/img/icons/menu-icon-1.png" />
        <hr id="top-navbar-mobile-linebreak">
        <div class="site-links-section">
            <section class="nav-links-section">
                <ul>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/resume">Resumé</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </section>
            <section class="social-media-links">
                <a href="https://ca.linkedin.com/in/renée-slamka-16154285" class="social-media-icon">
                    <img src="/assets/img/icons/linked_in.png">
                </a>
                <a href="https://github.com/ReneeSlamka" class="social-media-icon">
                    <img src="/assets/img/icons/github.png">
                </a>
                <a href="https://plus.google.com/117677284458310843719" class="social-media-icon">
                    <img src="/assets/img/icons/google_plus.png">
                </a>
            </section>
        </div>
    </div>
</nav>