<nav class="top-navbar-container">
    <div class="black-base-container">
        <div class="container">
            <a href="/">
                <img id="name-logo" src="/assets/img/nameLogo.png"/>
            </a>
            <section class="site-links-section">
                <a href="/about" class="top-site-link">
                    <h4>About</h4>
                </a>
                <a href="/resume" class="top-site-link">
                    <h4>Resumé</h4>
                </a>
                <a href="/projects" class="top-site-link">
                    <h4>Projects</h4>
                </a>
                <a href="/art-portfolio" class="top-site-link">
                    <h4>Art Portfolio</h4>
                </a>
                <a href="/contact" class="top-site-link">
                    <h4>Contact</h4>
                </a>
            </section>
        </div>
    </div>
</nav>