<nav class="top-navbar-container">
    <section class="site-links-section">
        <a href="/" class="top-site-link">
            <h5>About</h5>
        </a>
        <a href="/" class="top-site-link">
            <h5>Resumé</h5>
        </a>
        <a href="/" class="top-site-link">
            <h5>Projects</h5>
        </a>
        <a href="/" class="top-site-link">
            <h5>Art Portfolio</h5>
        </a>
        <a href="/" class="top-site-link">
            <h5>Contacts</h5>
        </a>
    </section>
</nav>