<nav class="top-navbar-container">
    <div class="black-base-container">
        <div class="container">
            <a href="/">
                <img id="name-logo" src="/assets/img/nameLogo.png"/>
            </a>
            <section class="site-links-section">
                <a href="/" class="top-site-link">
                    <h4>About</h4>
                </a>
                <a href="/" class="top-site-link">
                    <h4>Resumé</h4>
                </a>
                <a href="/" class="top-site-link">
                    <h4>Projects</h4>
                </a>
                <a href="/" class="top-site-link">
                    <h4>Art Portfolio</h4>
                </a>
                <a href="/" class="top-site-link">
                    <h4>Contacts</h4>
                </a>
            </section>
        </div>
    </div>
</nav>