<nav class="top-navbar-container">
    <div class="black-base-container">
        <div id="gradient-highlight-container">
            <div class="container">
                <a href="/">
                    <!--<img id="name-logo" src="/assets/img/nameLogo.png"/>-->
                    <h1 id="name-text-logo">Ren&eacutee Slamka</h1>
                </a>
                <section id="site-links-section">
                    <a href="/about" class="top-site-link">
                        <h4>About</h4>
                    </a>
                    <a href="/resume" class="top-site-link">
                        <h4>Resumé</h4>
                    </a>
                    <a href="/projects" class="top-site-link">
                        <h4>Projects</h4>
                    </a>
                    <a href="/contact" class="top-site-link">
                        <h4>Contact</h4>
                    </a>
                    <section id="social-media-links">
                        <a href="https://ca.linkedin.com/in/renée-slamka-16154285" class="social-media-icon">
                            <img src="/assets/img/icons/linked_in.png">
                        </a>
                        <a href="https://github.com/ReneeSlamka" class="social-media-icon">
                            <img src="/assets/img/icons/github.png">
                        </a>
                        <a href="/" class="social-media-icon">
                            <img src="/assets/img/icons/google_plus.png">
                        </a>
                    </section>
                </section>
            </div>
        </div>
    </div>
</nav>