<nav class="top-navbar navbar navbar-default fixed-top navbar-toggleable-sm">
    <div class="container">
        <a id="navbar-text-logo" class="navbar-brand" href="index.php/">Ren&eacutee Slamka</a>
        <img class="navbar-toggle-icon" id="mobile-menu-button" src="/assets/img/icons/menu-icon-1.png" />
        <hr id="top-navbar-mobile-linebreak">
        <div class="justify-content-end  align-items-end" id="topNavToggleBlock">
            <ul class="navbar-nav site-links-section float-md-right">
                <li class="nav-item active">
                    <a class="nav-link" href="index.php/about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php/resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>